.logo {
	width: 2em;
}

.logo-title {
	margin-left: 0.5em;
    vertical-align: middle;
    font-family: 'Acme', sans-serif;
}

.title-navbar {
    padding: 0.4em 1em;
}

.navbar-icon {
    font-size: 23px;
    color: #FAFAFA;
}

.container-navbar-icon.container-navbar-icon {
	padding: 0;
}

.wrapper-navbar-header {
    display: inline-block;
}