.notification-title.unread {
	padding-left: 0.5em;
	font-weight: bold;
}

.container-navbar-icon {
	text-align: right;
}

.notification-count {
	font-family: Arial;
    position: absolute;
    z-index: 800;
    background-color: #d9534f;
    color: #FAFAFA;
    font-weight: bold;
    border-radius: 100%;
    height: 20px;
    min-width: 20px;
    text-align: center;
    font-size: 15px;
    top: 4px;
    left: 26px;
}

.dropdown-menu {
    left: -25em;
}