.widget-timers {
	max-width: 35em;
    margin: 1em 4em;
}

.list-timers {
	margin: 0 auto;
}

.widget-timers .show-more {
    margin: 1em 0 0 11em;
}

.badge.success {
	background-color: #43A047;
}

.badge.error {
	background-color: #F44336;
}

.badge.running {
	background-color: #039BE5;
}