.widget-timers .show-more {
	display: inline-block;
}

.timer-name {
	overflow: hidden;
    text-overflow: ellipsis;
    width: 17em;
    white-space: nowrap;
}

.badge.success {
	background-color: #43A047;
}

.badge.error {
	background-color: #F44336;
}

.badge.running {
	background-color: #039BE5;
}